mixed-port: 7890
port: 20173                 #本地http代理端口
socks-port: 20172           #本地socks5代理端口

allow-lan: true
mode: rule
log-level: warning
# log-level: info
ipv6: true

external-controller: 127.0.0.1:9090   #控制器监听地址

tun:
  enable: true
  device: Mihomo         #MacOS建议删除此项
  stack: gvisor             #gvisor/mixed
  # mtu: 1500
  mtu: 1400
  # strict-route: true

dns:
  enable: true
  listen: 0.0.0.0:53
  prefer-h3: true
  ipv6: true
  enhanced-mode: fake-ip
  respect-rules: true
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - '*.lan'
    - localhost.ptlogin2.qq.com
  default-nameserver:
    - 119.29.29.29
    - 223.5.5.5
  nameserver:
    - https://doh.pub/dns-query
    - https://223.5.5.5/dns-query
  fallback:
    - https://1.1.1.1/dns-query
    - https://dns.google/dns-query
  proxy-server-nameserver:
    - https://doh.pub/dns-query
    - https://223.5.5.5/dns-query
  nameserver-policy:
    # 指定域名通过指定DNS解析
    "+.archlinuxcn.org":
      - https://doh.pub/dns-query
      - https://223.5.5.5/dns-query
    "geosite:cn,private":
      - https://doh.pub/dns-query
      - https://223.5.5.5/dns-query
    # 当选择直连时可进行连接
    "geosite:geolocation-!cn":
      - https://doh.pub/dns-query
      - https://223.5.5.5/dns-query  
    # "geosite:geolocation-!cn": [https://1.1.1.1/dns-query, https://dns.google/dns-query] # 若使用国外的DNS，则使用“直连”时会出现国外域名安全连接失败

geodata-mode: true
geox-url:
  geoip: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat"
  geosite: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat"
  mmdb: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb"
  asn: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/GeoLite2-ASN.mmdb"

proxies:
  - name: "直连"
    type: direct
    udp: true

proxy-providers:
  ***:
    type: http
    url: '***'
    interval: 3600
    path: ./profile/***.yaml
    health-check:
      enable: true
      interval: 180
      lazy: true
      url: http://cp.cloudflare.com
      # url: http://www.gstatic.com/generate_204

proxy-groups:
  - name: "PROXY"
    type: select
    proxies:
      - 直连
    use:
      - ***

  - name: "Apple Services"
    type: select
    proxies:
      - 直连
    use:
      - ***

  - name: "ChatGPT"
    type: select
    proxies:
      #- naiveproxy
    use:
      - ***

  - name: "Auto"
    type: url-test         #通过httping URL 自动切换延迟最低的节点
    use:
      - ***
    # tolerance: 150       #容差值：节点差值低于设定值时，不自动切换
    lazy: true           #为true时，未被使用时不进行测ping
    # url: 'http://www.cloudflare.com'      #用来测ping的地址
    url: 'http://www.cloudflare.com'
    interval: 180          #测ping时间(秒)
    # disable-udp: true    #关闭UDP
    # filter: 'HK'         #【Meta专属】代理筛选
 
  - name: "load-balance"
    type: load-balance      #负载均衡：同一域名(eTLD+1)使用同一代理
    use:
      - ***
    url: 'http://cp.cloudflare.com'
    interval: 180
    # lazy: true
    # disable-udp: true
    # filter: 'HK'            #【Meta专属】代理筛选
    # strategy: round-robin   #策略：round-robin ：所有请求不使用同一代理
                              #consistent-hashing：同一有效顶级域名(eTLD)使用同一代理

# 规则配置
RuleSet_classical: &RuleSet_classical {type: http, behavior: classical, interval: 43200, format: text, proxy: PROXY}
RuleSet_domain: &RuleSet_domain {type: http, behavior: domain, interval: 43200, format: text, proxy: PROXY}
RuleSet_ipcidr: &RuleSet_ipcidr {type: http, behavior: ipcidr, interval: 43200, format: text, proxy: PROXY}

# 订阅规则
rule-providers:
  reject_non_ip_no_drop:
    <<: *RuleSet_classical
    url: 'https://ruleset.skk.moe/Clash/non_ip/reject-no-drop.txt'
    path: './rule_set/sukkaw_ruleset/reject_non_ip_no_drop.txt'

  reject_non_ip_drop:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/reject-drop.txt
    path: ./rule_set/sukkaw_ruleset/reject_non_ip_drop.txt

  reject_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/reject.txt
    path: ./rule_set/sukkaw_ruleset/reject_non_ip.txt

  reject_domainset:
    <<: *RuleSet_domain
    url: https://ruleset.skk.moe/Clash/domainset/reject.txt
    path: ./rule_set/sukkaw_ruleset/reject_domainset.txt

  reject_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/ip/reject.txt
    path: ./rule_set/sukkaw_ruleset/reject_ip.txt

  cdn_domainset:
    <<: *RuleSet_domain
    url: https://ruleset.skk.moe/Clash/domainset/cdn.txt
    path: ./rule_set/sukkaw_ruleset/cdn_domainset.txt

  cdn_non_ip:
    <<: *RuleSet_domain
    url: https://ruleset.skk.moe/Clash/non_ip/cdn.txt
    path: ./rule_set/sukkaw_ruleset/cdn_non_ip.txt

  # 所有流媒体（包括上述所有流媒体）
  stream_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/stream.txt
    path: ./rule_set/sukkaw_ruleset/stream_non_ip.txt
  stream_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/ip/stream.txt
    path: ./rule_set/sukkaw_ruleset/stream_ip.txt

  ai_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/ai.txt
    path: ./rule_set/sukkaw_ruleset/ai_non_ip.txt

  telegram_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/telegram.txt
    path: ./rule_set/sukkaw_ruleset/telegram_non_ip.txt

  telegram_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/ip/telegram.txt
    path: ./rule_set/sukkaw_ruleset/telegram_ip.txt

  # ad_reject:
  #   <<: *RuleSet_domain
  #   url: https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/reject.txt
  #   path: ./rule_set/others/ad_reject.txt

  ad_reject-AWA:
    <<: *RuleSet_domain
    url: https://raw.githubusercontent.com/TG-Twilight/AWAvenue-Ads-Rule/main/Filters/AWAvenue-Ads-Rule-Clash.yaml
    path: ./rule_set/others/ad_reject_1.txt

  apple_cdn:
    <<: *RuleSet_domain
    url: https://ruleset.skk.moe/Clash/domainset/apple_cdn.txt
    path: ./rule_set/sukkaw_ruleset/apple_cdn.txt

  apple_services:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/apple_services.txt
    path: ./rule_set/sukkaw_ruleset/apple_services.txt

  apple_cn_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/apple_cn.txt
    path: ./rule_set/sukkaw_ruleset/apple_cn_non_ip.txt

  microsoft_cdn_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/microsoft_cdn.txt
    path: ./rule_set/sukkaw_ruleset/microsoft_cdn_non_ip.txt

  microsoft_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/microsoft.txt
    path: ./rule_set/sukkaw_ruleset/microsoft_non_ip.txt

  # 软件更新、操作系统等大文件下载
  download_domainset:
    <<: *RuleSet_domain
    url: https://ruleset.skk.moe/Clash/domainset/download.txt
    path: ./rule_set/sukkaw_ruleset/download_domainset.txt
  download_non_ip:
    <<: *RuleSet_domain
    url: https://ruleset.skk.moe/Clash/non_ip/download.txt
    path: ./rule_set/sukkaw_ruleset/download_non_ip.txt

  # 内网域名和局域网 IP
  lan_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/lan.txt
    path: ./rule_set/sukkaw_ruleset/lan_non_ip.txt
  lan_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/ip/lan.txt
    path: ./rule_set/sukkaw_ruleset/lan_ip.txt

  domestic_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/domestic.txt
    path: ./rule_set/sukkaw_ruleset/domestic_non_ip.txt
  direct_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/direct.txt
    path: ./rule_set/sukkaw_ruleset/direct_non_ip.txt
  global_non_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/non_ip/global.txt
    path: ./rule_set/sukkaw_ruleset/global_non_ip.txt
  domestic_ip:
    <<: *RuleSet_classical
    url: https://ruleset.skk.moe/Clash/ip/domestic.txt
    path: ./rule_set/sukkaw_ruleset/domestic_ip.txt

  china_ip:
    <<: *RuleSet_ipcidr
    url: https://ruleset.skk.moe/Clash/ip/china_ip.txt
    path: ./rule_set/sukkaw_ruleset/china_ip.txt

rules:
# Steam
  - DOMAIN-SUFFIX,steampipe-partner.akamaized.net,DIRECT
  - DOMAIN-SUFFIX,steampipe-kr.akamaized.net,DIRECT
  - DOMAIN-SUFFIX,steampipe.akamaized.net,DIRECT
  - DOMAIN-SUFFIX,content-origin.steampowered.com,DIRECT
  - DOMAIN-SUFFIX,content.steampowered.com,DIRECT
  - DOMAIN-SUFFIX,steamcontent.com,DIRECT
  - DOMAIN-SUFFIX,steamserver.net,DIRECT
  - DOMAIN-SUFFIX,steamcontent.com,DIRECT
  - DOMAIN,*.steamcontent.com,DIRECT
  - DOMAIN,fastly.cdn.steampipe.steamcontent.com,DIRECT
  - DOMAIN,cdn.fastly.steamstatic.com,DIRECT
  - DOMAIN,*.fastly.steamstatic.com,DIRECT
  - DOMAIN-SUFFIX,fastly.steamstatic.com,DIRECT
  - DOMAIN,steamcdn-a.akamaihd.net,DIRECT
  - DOMAIN-SUFFIX,cm.steampowered.com,DIRECT
  - DOMAIN-SUFFIX,steamserver.net,DIRECT
  - GEOSITE,steam@cn,DIRECT
  # - GEOSITE,steam,Steam

# Myself
  - DOMAIN,gemini.google.com,ChatGPT
  # - DOMAIN,wiki.archlinuxcn.org,DIRECT
  # - DOMAIN-SUFFIX,linux.do,DIRECT
  - DOMAIN-SUFFIX,linux.do,PROXY
  # - DOMAIN-SUFFIX,challenges.cloudflare.com,DIRECT
  - DOMAIN-SUFFIX,wttr.in,DIRECT
  - DOMAIN-SUFFIX,http.cat,DIRECT

# 非 IP 类规则
  - RULE-SET,reject_non_ip,REJECT
  - RULE-SET,reject_domainset,REJECT
  - RULE-SET,reject_non_ip_drop,REJECT-DROP
  - RULE-SET,reject_non_ip_no_drop,REJECT
  - RULE-SET,domestic_non_ip,DIRECT
  - RULE-SET,direct_non_ip,DIRECT
  - RULE-SET,lan_non_ip,DIRECT
  - RULE-SET,microsoft_cdn_non_ip,DIRECT
  # - RULE-SET,apple_cn_non_ip,Apple Services
  # - RULE-SET,apple_services,Apple Services
  - RULE-SET,apple_cn_non_ip,DIRECT
  - RULE-SET,apple_services,DIRECT
  - RULE-SET,cdn_domainset,PROXY
  - RULE-SET,cdn_non_ip,PROXY
  - RULE-SET,stream_non_ip,PROXY
  - RULE-SET,telegram_non_ip,PROXY
  - RULE-SET,download_domainset,PROXY
  - RULE-SET,download_non_ip,PROXY
  - RULE-SET,ai_non_ip,PROXY
  - RULE-SET,global_non_ip,PROXY
# IP 类规则
  - RULE-SET,reject_ip,REJECT
  - RULE-SET,telegram_ip,PROXY
  - RULE-SET,stream_ip,PROXY
  - RULE-SET,lan_ip,DIRECT
  - RULE-SET,domestic_ip,DIRECT
  - RULE-SET,china_ip,DIRECT
  # - RULE-SET,ad_reject,REJECT
  - RULE-SET,ad_reject-AWA,REJECT
  - MATCH,PROXY
