* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono, HarmonyOS Sans SC";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0);
    color: #cdd6f4;
    font-size: 25px
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button.icon label{
    font-size: 30px;
}

#workspaces {
    background: #1e1e2e;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    margin-right: 10px;
    margin-left: 20px;
    /* background-color: @blue; */
    /* border-radius: 0px 10px 10px 0px; */
    /* margin-right: 20px; */
    /* padding: 0px 5px 0px 5px; */
    padding-left: 5px;
    /* padding-right: 0px; */
    border: solid 0px #f4d9e1;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 5px 5px;
    color: #313244;
    margin-right: 5px;
    font-size: 25px;
}

#workspaces button.active {
    color: #a6adc8;
    font-size: 25px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #1e1e2e;
    border-radius: 16px;
    font-size: 25px;
}

#workspaces button:hover {
    background: #1e1e2e;
    color: #282842;
    border-radius: 16px;
    font-size: 25px;
}

#tray, #custom-lock_screen, #temperature, #backlight, #custom-launch_wofi, #cpu {
    border-radius: 16px 0px 0px 10px;
}

#custom-light_dark, #custom-power_btn, #pulseaudio.microphone, #battery, #disk {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 10px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    background: #1e1e2e;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

/* #battery { */
/*     color: #a6e3a1; */
/*     border-left: 0px; */
/* } */

#tray {
    background: #1e1e2e;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    padding: 0px 5px;
    /* border-right: solid 1px; */
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-weather,
#custom-updates,
#temperature,

#window {
    background: #1e1e2e;
    /* padding-left: 20px; */
    padding-left: 0px;
    /* padding-right: 15px; */
    border-radius: 16px;
    /* border-left: solid 1px #282738; */
    /* border-right: solid 1px #282738; */
    padding: 0px 10px 0px 10px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#cpu {
    background: #1e1e2e;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background: #1e1e2e;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-playerctl, #custom-playerlabel{
    background: #1e1e2e;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background: #1e1e2e;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#keyboard-state{
    background: #1e1e2e;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#user{
    background: #1e1e2e;
    border-radius: 16px;
    margin: 5px;
    margin-left:5px;
    margin-right:5px;
    padding: 0px 10px 0px 10px;
}

#custom-data, #network, #pulseaudio {
    background: #1e1e2e;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    border: solid 0px;
}

#clock{
    background: #1e1e2e;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    border: solid 0px;
    font-size: 20px
}

#custom-Arch-Logo, #custom-switch-wallpaper, #custom-backup-script-launcher{
    background: #1e1e2e;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 1px;
    padding-left: 5px;
    border-radius: 16px;
    font-size: 25px
}

#workspaces, #workspaces button, #workspaces button.active, #workspaces button.empty, #workspaces button.persisent, #workspaces button.special, #workspaces button.visible, #workspaces button.urgent, #workspaces button.hosting-monitor {
    font-size: 30px;
}

/* #workspaces button.active label, #workspaces button.persistent label{ */
    /* font-size: 25px; */
/* } */
/* 背景色为#1e1e2e */
